table, th, td {
    border:1px solid black;
}

.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: green;
  padding: 12px;
}
.grid div {
  background-color: springgreen;
  padding: 20px;
}
.grid div.header {
  grid-area: header;
  text-align: center;
  height: 50px;
}
.grid div.menu {
  grid-area: menu;
}
.grid div.content {
  grid-area: content;
}
.grid div.footer {
  grid-area: footer;
  text-align: center;  
}
.area {
  grid-area: myArea;
}

.grid-area {
  display: grid;
  grid-template-areas: 
  '.'
  '. . .' 
  '. . .';
  grid-gap: 10px;
  background-color: yellow;
}

.grid-area > div {
  background-color: lightgreen;
  text-align: left;
}

.header:hover {
  transform: scale(1.2); transition-duration: 2s; background-color: red;
}
.shortcuts-bar {
  border:5px solid green;
  flex-flow: column wrap;
  align-items: column;
  position: sticky;
  top: 0;
}

.header {
  border:5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.menu {
  border:5px solid green;
  flex-flow: column wrap;
  align-items: column;
}

.content {
  border:5px solid green;
}

.footer {
  border:5px solid green;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-heading {
  display: flex;
  justify-content: flex-start;
}

.contact-info {
  display: flex;
  justify-content: flex-start;
}

.mini-heading:hover {
  transform: scale(1.0); transition-duration: 2s; background-color: orange;
}

.download-resume:hover{
  transform: rotate(360deg); transition-duration: 1s; background-color: yellow;
}

.seicard-images:hover {
  transform: rotate(360deg); transition-duration: 2s; background-color: purple;
} 

.seicard-images {
  float: none;
}

.shmup-images:hover {
  transform: rotate(-360deg); transition-duration: 2s; background-color: purple;
}

.shmup-images {
  float: none;
}

@media screen and (max-width: 680px) {
  body {
    font-size: small;
  }
  .seicard-images {
    width: 300px;
    height: 180px;
  }
  .shmup-images {
    width: 300px;
    height: 180px;
  }
}
@media screen and (min-width: 681px) and (max-width: 968px) {
  body {
    font-size: medium;
  }
  .seicard-images {
    width: 400px;
    height: 240px;
  }
  .shmup-images {
    width: 400px;
    height: 240px;
  }
}
@media screen and (min-width: 969px) {
  body {
    font-size: large;
  }
  .seicard-images {
    width: 500px;
    height: 300px;
  }
  .shmup-images {
    width: 500px;
    height: 300px;
  }
}

